<!DOCTYPE html>
<html>
<head>
  <title>Currency Conversion</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
</head>
<body>

  <nav class="navbar is-warning" role="navigation" aria-label="main navigation">
    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item is-tab" href="../../index.html">Home</a>
        <a class="navbar-item is-tab" href="stock-query.html">Stock Query</a>
        <a class="navbar-item is-tab" href="company.html">Company Query</a>
        <a class="navbar-item is-tab" href="stock-analysis.html">Stock Analysis</a>
        <a class="navbar-item is-tab" href="stock-visualization.html">Stock Visualization</a>
        <a class="navbar-item is-tab" href="exchange-visualization.html">Exchange Visualization</a>
        <a class="navbar-item is-tab" href="comparison.html">Company Comparison</a>
        <a class="navbar-item is-tab is-active" href="currency.html">Currency Conversion</a>
      </div>
    </div>
  </nav>

  <div id="app">
    <section class="section">
      <div class="container">
        <h1 class="title">Currency Conversion</h1>
        <progress class="progress is-small is-primary" max="100" v-show="!showResults"></progress>
      </div>
      <div class="container" v-show="showResults">
        <div class="field">
          <label class="label">Value</label>
          <div class="control">
            <input class="input" type="number" min="0.01" step="0.01" placeholder="0" v-model="amount">
          </div>
        </div>

        <div class="field">
          <label class="label">Original Currency</label>
          <div class="select">
            <select v-model="fromCurr">
              <option v-for="curr in Object.keys(currencyRates)">{{curr}}</option>
            </select>
          </div>
        </div>

        <div class="field">
          <label class="label">New Currency</label>
          <div class="select">
            <select v-model="toCurr">
              <option v-for="curr in Object.keys(currencyRates)">{{curr}}</option>
            </select>
        </div>

        <div class="field">
          <label class="label">New Value</label>
          <div class="control">
            <input class="input" type="text" :value="convertedValue" readonly>
          </div>
        </div>

        <h6 class="title is-6" v-show="showResults && Object.keys(currencyRates).length === 0">Error Fetching Currencies</h1>
      </div>
    </section>
  </div>

  <script src="../js/currency.js"></script>
</body>
</html>